<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/film.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>

        <a href="/"><span>Házi Mozi</span></a>
        <span> Film címe </span>
        <!-- Profil -->
        <div class="dropdown">
            <img src="img/user.png" alt="user">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
        <!-- Szures -->
        <a href="/szures"><img src="img/search.png" alt="search"></a>
        <!-- Megnezendok -->
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>
        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {

                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>
        <script>
        let slideIndex = 1;
        

        // Next/previous controls
        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
			let i;
			let slides = document.getElementsByClassName("mySlides");
		
			if (n > slides.length) {slideIndex = 1}
			if (n < 1) {slideIndex = slides.length}
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slides[slideIndex-1].style.display = "block";
        }
        </script>

    </header>

<!-- Slideshow container -->
<div class="slideshow">
	
    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
       <img src="img/the_godfather_1.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <img src="img/bosszuallok_2.jpg" style="width:100%">
    </div>
    <div class="mySlides">
        <img src="img/harry_potter_3.jpg" style="width:100%">
    </div>
    
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
</div>
 
<!-- Leírás stb. -->
<div class="jobboldal">
    <h2 class="cim">A film címe (megjelenése)</h2>
    <h3 class="alcim">Rendezők: </h3>
        <h4 class="rendezok">Rendezők felsorolása</h4>
    <h3 class="alcim">Színészek: </h3>
        <h4 class="szineszek">Színészek felsorolása</h4>
    <br>
    <p class="leiras">
        A gengszterfilmek legnagyobbika, világhírű színészek és rendező munkája, minden idők egyik legnagyobb szabású maffiafilmje, a Keresztapa. A történet bemutatja azokat az embereket és azt a gépezetet, ami az olasz maffiában gyökerezve, a világ leghatalmasabb és legrettegettebb hatalmává vált az Egyesült Államokban. Figyelemmel követhetjük a kegyetlen, gyilkos módszereket, amivel a Corleone család feje dolgozik. Tanúi lehetünk a hihetetlen összetartásnak, az érdekek és a félelem összetartó erejének, ami ezt a világot jellemzi. Emberek sorsa, élet és halál kérdése dől el Don Vito Corleone dolgozószobájában. Egyesek védelemért fordulnak a nagyúrhoz, mások hadüzenettel érkeznek. A rivális maffia, a Tattaglia család ugyanis végső leszámolásra szólította fel a Corleone családot. S a hadüzenet után az egész város lángba borul.
    </p>   
</div>
<div class="ertekeles" id='ertekeles_dv' style='white-space: nowrap;display: inline;'>
    <img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
	<img src="img/csillag_szurke.png" style="width:25px">
</div>

<!-- Kommentek -->
<div class="comment-box">
    <form action="#">
        <textarea id="comment" placeholder="Írj egy kommentet!"></textarea>
    </form>
    <button type="button" id="submit">Küldés</button>
</div>
<script>
document.getElementsByTagName('body')[0].onload=function(){
	let asd=ertekeles_dv.getElementsByTagName('img');
	for(let i=0;i<asd.length;i++) {asd[i].onmouseenter=Function("csillag(this,1);");
	asd[i].onmouseleave=Function("csillag(this,0);");}
	showSlides(slideIndex);
}
function csillag(asd,kibe){
	let mire=kibe==0?'szurke':'sarga';
	let csill=ertekeles_dv.getElementsByTagName('img');
	let i=-1;
	do{
		if(!csill[++i].src.includes(mire)) csill[i].src="img/csillag_"+mire+".png";
	} while(csill[i]!=asd)
}
</script>
</body>
</html>