<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/fo_oldal.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>
        <a href="/" class="btn-shine"><span>Házi Mozi</span></a>
        <span>Főoldal</span>

        <div class="dropdown">
            <img src="img/user.png" alt="felhasználó">
            <div class="dropdown-content">               
                <%if(bejelentkezve) {%> <a href="/profil">Profil</a> <%}%> 
				<%if(!bejelentkezve) {%> <a href="/login">Bejelentkezés</a> <%}%> 
                <%if(!bejelentkezve) {%> <a href="/regisztracio">Regisztráció</a> <%}%> 
				
				<%if(bejelentkezve) {%> <a href="/logout">Kijelentkezés</a> <%}%> 
            </div>
        </div>
		
		
        <a href="/szures"><img src="img/search.png" alt="search"></a>
    
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>
		<span style='float:right;margin-right: 30px;line-height:45px;'><%if(bejelentkezve) {%>Üdv: <%=felh_adatok.nev%><%}%> </span>
        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {
    
                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
			//background-image: url('img_girl.jpg');
        </script>
    
    </header>
    <div class='csuszka'>
	<div class='oldalak'>
		<%
			for (var i=0; i<filmek.length; i++)
			{
			%>
            <div class='oldal'><div class='szoveg'><%=filmek[i].cim%></div>
			<img src='<%=filmek[i].kepUrl%>.jpg'>
			</div>
			<%
			}
		%>
	</div>
		<div class='bnyil'></div>
		<div class='jnyil'></div>
	<div class='nav'>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
		<span class='poty'></span>
	</div>
</div>
<script>
document.getElementsByTagName('body')[0].addEventListener("load",function(){
	
});
function valt(en,irany){
	if(irany==-1)
	{
		let potyok=en.parentNode.getElementsByClassName('poty');
		for(let i=0;i<potyok.length;i++) potyok[i].style.backgroundColor=(potyok[i]==en)?'white':'black';
		return;
	}
	let oldalak = en.parentNode.getElementsByTagName('div')[0];
	let akt = oldalak.style.transform==""?0:oldalak.style.transform.split('(')[1].split('%')[0]*1;
	if(irany==1) akt=akt<=-90?0:akt-10; else akt=akt>=0?-90:akt+10;
	oldalak.style.transform="translateX("+akt+"%)";
	let potyok=document.getElementsByClassName('poty');
	for(let i=0;i<potyok.length;i++) potyok[i].style.backgroundColor=(i*-10==akt)?'white':'black';
}

document.getElementsByClassName('bnyil')[0].onclick=Function('valt(this,0);');
document.getElementsByClassName('jnyil')[0].onclick=Function('valt(this,1);');
let potyok=document.getElementsByClassName('poty');
potyok[0].style.backgroundColor='white';
for(let i=0;i<potyok.length;i++)
potyok[i].onclick=Function("this.parentNode.parentNode.getElementsByTagName('div')[0].style.transform='translateX("+(i*-10)+"%)';valt(this,-1);");



</script>

<style>

</style>
</body>
</html>