<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/szures_megnezendo.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>

        <a href="/"><span>Házi Mozi</span></a>
        <span> Megnézendő filmek </span>
        <!-- Profil -->
        <div class="dropdown">
            <img src="img/user.png" alt="user">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
        <!-- Szures -->
        <a href="/szures"><img src="img/search.png" alt="search"></a>
        <!-- Megnezendok -->
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>

        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {

                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>

    </header>
    <!-- 
    <table class="watch_list">
         az első 2 sor ismétlődik
        <tr>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <div>cim</div>
            </td>
            <td>
                <div>cimascDAWDAwdtdndthdhbdbgrg</div>
            </td>
            <td>
                <div> Az angol, aki dombra ment fel,<br> de hegyről jött le</div>
            </td>
            <td>
                <div>MAUGLI A NEVEM</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <div>cim</div>
            </td>
            <td>
                <div>cimascDAWDAwdtdndthdhbdbgrg</div>
            </td>
            <td>
                <div> Az angol, aki dombra ment fel,<br> de hegyről jött le</div>
            </td>
            <td>
                <div>MAUGLI A NEVEM</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
            <td>
                <img src="img/film.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <div>cim</div>
            </td>
            <td>
                <div>cimascDAWDAwdtdndthdhbdbgrg</div>
            </td>
            <td>
                <div> Az angol, aki dombra ment fel,<br> de hegyről jött le</div>
            </td>
            <td>
                <div>MAUGLI A NEVEM</div>
            </td>
        </tr>
    </table>-->


       <script>
        // !!EMLEKEZTETO!!: csak a tablenek van idje, a többinek nincs
        // le kell csekkolni ha nincs megnezendo
        var tbl = document.createElement('table');
        tbl.classList.add("watch_list");
        let filmekTomb = await new myUserDAO.megnezendoFilmek(sessionStorage.getItem("fId"));
        if(filmekTomb == null){
            var filmNincs = document.createElement('h2');
            filmNincs.textContent = "Nincsenek megnezendo filmek!";
            tbl.appendChild(filmNincs);
        }
       for(let i = 0; i < filmekTomb.length; i+4){
        if(filmekTomb.length - i <= 3){
            var r1 = document.createElement('tr');
            var r2 = document.createElement('tr');
            for(let i = 0; i < filmekTomb.length; i++){
                //a parancsok mukodeset lasd else{} agban

                var d1 = document.createElement('td');
                var d2 = document.createElement('td');

                var img1 = document.createElement(img);
                img1.src = "img/" + filmekTomb[i].kepUrl;

                var text1 = document.createElement('div');
                text1.textContent = filmekTomb[i].cim;

                d1.appendChild(img1);
                d2.appendChild(text1);

                r1.appendChild(d1);
                r2.appendChild(d2);

                //ide kell break v valami
            }

        }else{
                // a sorok letrehozasa
                var r1 = document.createElement('tr');
                var r2 = document.createElement('tr');

                // cellak letrehozasa
                var d1 = document.createElement('td');
                var d2 = document.createElement('td');
                var d3 = document.createElement('td');
                var d4 = document.createElement('td');
                var d5 = document.createElement('td');
                var d6 = document.createElement('td');
                var d7 = document.createElement('td');
                var d8 = document.createElement('td');

                // kepek es szoveg div letrehozasa
                var img1 = document.createElement(img);
                var img2 = document.createElement(img);
                var img3 = document.createElement(img);
                var img4 = document.createElement(img);

                var text1 = document.createElement('div');
                var text2 = document.createElement('div');
                var text3 = document.createElement('div');
                var text4 = document.createElement('div');

                // divnel szoveg, kepnel forras beallitas
                // ha a kepeknel nincs lementve a img/ akkor 
                // azt csak ki kell szedni a kodbol
                img1.src = "img/" + filmekTomb[i].kepUrl;
                img2.src = "img/" + filmekTomb[i + 1].kepUrl;
                img3.src = "img/" + filmekTomb[i + 2].kepUrl;
                img4.src = "img/" + filmekTomb[i + 3].kepUrl;

                text1.textContent = filmekTomb[i].cim;
                text2.textContent = filmekTomb[i + 1].cim;
                text3.textContent = filmekTomb[i + 2].cim;
                text4.textContent = filmekTomb[i + 3].cim;

                // kepek es szoveg beillesztese cellakba
                d1.appendChild(img1);
                d2.appendChild(img2);
                d3.appendChild(img3);
                d4.appendChild(img4);
                d5.appendChild(text1);
                d6.appendChild(text2);
                d7.appendChild(text3);
                d8.appendChild(text4);

                // a cellak beillesztese a sorokba
                r1.appendChild(d1);
                r1.appendChild(d2);
                r1.appendChild(d3);
                r1.appendChild(d4);
                r2.appendChild(d5);
                r2.appendChild(d6);
                r2.appendChild(d7);
                r2.appendChild(d8);

                tbl.appendChild(r1);
                tbl.appendChild(r2);
        
        }
       }
       </script>
</body>
</html>