<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Node.js example</title>
 </head>
   <header>
      
   </header>
   <body>
      <div>
	  <%if(Array.isArray(lekerdezes))
		{
			for (var i=0; i<lekerdezes.length; i++)
			{
			%>
				<div><%=lekerdezes[i].cim%></div>
			<%
			}
		
		}else {
			%><%=lekerdezes%>
			<%}%>
	  
		
      </div>
	  <%=lekerdezes2%>
   </body>
</html>