<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href='https://rf1-projekt-film.herokuapp.com/logout'><input type='button' value='Kijelentkezés'></a>
</body>
</html>