<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/regisztracio.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>

        <a href="/index"><span>Házi Mozi</span></a>
        <span> Regisztráció </span>
        <!-- Profil -->
        <div class="dropdown">
            <img src="img/user.png" alt="user">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
        <!-- Szures -->
        <a href="/szures"><img src="img/search.png" alt="search"></a>
        <!-- Megnezendok -->
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>

        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {

                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>

    </header>

    <!-- Regisztracio -->
    <div class="container">
        <form action="register" method="post">
            <div class="div-form">
                <label><h3>Felhasználónev: </h3><input type="text" id="text" required></label>
            </div>
            <div class="div-form">
                <label><h3>Születési idő: </h3><input type="date" id="birthdate" required></label>
            </div>
            <div class="div-form">
                <label><h3>Email: </h3><input type="email" id="email" required></label>
            </div>
            <div class="div-form">
                <label><h3>Jelszó: </h3><input type="password" id="password" required></label>
            </div>
            <button type="submit" class="register">Regisztrálok!</button>
        </form>
    </div>

    <div class="container signin">
        <p>Van már fiókod? <a href="/bejelentkezes.html">Jelentkezz be!</a></p>
      </div>

</body>
</html>