<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/szures_megnezendo.css">
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>

        <a href="/"><span>Házi Mozi</span></a>
        <span> Keresés </span>
        <!-- Profil -->
        <div class="dropdown">
            <img src="img/user.png" alt="user">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
        <!-- Szures -->
        <a href="/szures"><img src="img/search.png" alt="search"></a>
        <!-- Megnezendok -->
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>

        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {

                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>

    </header>

	<div class="flex-container1" id="szures">
		<div><label>Film címe <input id='cim' type="text" size=25></label></div>
		<div><label>Műfaj <input id='mufaj' type="text" size=25></label></div>
		<div><label>Rendező(k) <input id='rendezok' type="text" size=25></label></div>
		<div><label>Megjelenési év <input id='ev' type="number"></label></div>
		<div><label>Értékelés <input id='ertekeles' type="number"></label></div>
		<div><label>Színész(ek) <input id='szineszek' type="text" size=25></label></div>
	</div>
	<div class="kozepre"><input type="button" value="Keresés" onclick="keres();"></div>

    <hr>

    <div id='eredmeny'>
        
        
    </div>

<script>
function keres(){
	let szuresinpek = szures.getElementsByTagName('input');
	let asd={};
	for(let i=0;i<szuresinpek.length;i++)
	{
		asd[szuresinpek[i].id]=szuresinpek[i].value.split(',');
		for(let l=0;l<asd[szuresinpek[i].id].length;l++) asd[szuresinpek[i].id][l]=asd[szuresinpek[i].id][l].trim();
	}	
	let xhr = new XMLHttpRequest();
	xhr.open('POST','/szurproba',true);
	xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
	xhr.onload=function() {
		eredmeny.innerHTML="";
		let asd = JSON.parse(this.responseText);
		for(let i=0;i<asd.length;i++)
		{
			eredmeny.innerHTML+="<a href='/film?id=10'><div class='egyfilm'><div class='kep'><img src='"+asd[i]['kepUrl']+".jpg'></div><div class='cim'>"+asd[i]['cim']+"</div></div></a>";
		}
		
	}
	xhr.send('feltetelek='+JSON.stringify(asd));
}

</script>
</body>
</html>