<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Házi Mozi</title>
    <link rel="stylesheet" href="/css/alap_style.css">
    <link rel="stylesheet" href="/css/fo_oldal.css">
    <link rel="icon" href="img/popcorn.png">
</head>
<body>
    <header>
        <a href="/"><span>Házi Mozi</span></a>
        <span>Főoldal</span>
    
        <div class="dropdown">
            <img src="img/user.png" alt="felhasználó">
            <div class="dropdown-content">
                <a href="/profil">Profil</a>
                <a href="/login">Bejelentkezés</a>
                <a href="/regisztracio">Regisztráció</a>
            </div>
        </div>
    
        <a href="/szures"><img src="img/search.png" alt="search"></a>
    
        <a id="eye" href="/megnezendo"><img src="img/szem.png" alt="szem"></a>
        <a id="eye_closed" href="/megnezendo"><img src="img/csukva.png" alt="csukott_szem"></a>
    
        <script>
            document.getElementById("eye_closed").hidden = true;
            document.getElementById("eye").onmouseenter = function() {
    
                document.getElementById("eye").hidden = true;
                document.getElementById("eye_closed").hidden = false;
            }
            document.getElementById("eye_closed").onmouseleave = function (){
                document.getElementById("eye").hidden = false;
                document.getElementById("eye_closed").hidden = true;
            }
        </script>
    
    </header>
    <h2>Adattáblák feltöltéséhez formok</h2>
    <h3>Film feltöltése</h3>
    <form action="/filmfeltoltes" method="POST">
        <label for="cim">Film címe</label><br>
        <input type="text" name="cim"><br>
        <label for="leiras">Film leírása</label><br>
        <input type="text" name="leiras"><br>
        <label for="kepUrl">Film képének url-je</label><br>
        <input type="text" name="kepUrl"><br>
        <label for="elozetesLink">Film előzetesének linkje</label><br>
        <input type="text" name="elozetesLink"><br>
        <label for="megjelenes">Film megjelenésének dátuma</label><br>
        <input type="text" name="megjelenes"><br>
        <input type="submit" value="submit"><br>
    </form>

    (a továbbiaknál még az actiont át kell írni a form nyitó tagben)

    <h3>Felhasználó feltöltése</h3>
    <form action="/felhfeltoltes" method="POST">
        <label for="nev">Felhasználó neve</label><br>
        <input type="text" name="nev"><br>
        <label for="felhasznaloTipus">Felhasználó típusa(admin, user, kritikus)</label><br>
        <input type="text" name="felhasznaloTipus"><br>
        <label for="megnezendoFilmek">Megnézendő filmek</label><br>
        <input type="text" name="megnezendoFilmek"><br>
        <label for="ertekeltFilmek">Értékelt filmek</label><br>
        <input type="text" name="ertekeltFilmek"><br>
        <label for="email">Email</label><br>
        <input type="text" name="email"><br>
        <label for="jelszo">Jelszó</label><br>
        <input type="text" name="jelszo"><br>
        <label for="kedvencek">Kedvencek</label><br>
        <input type="text" name="kedvencek"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h3>Személy feltöltése</h3>
    <form action="/szemelyfeltoltes" method="POST">
        <label for="szemelyId">Személy id</label><br>
        <input type="text" name="szemelyId"><br>
        <label for="szemelyNev">Személy neve</label><br>
        <input type="text" name="szemelyNev"><br>
        <label for="szemelyLeiras">Személyleírás</label><br>
        <input type="text" name="szemelyLeiras"><br>
        <input type="submit" value="submit"><br>
    </form>
    
    <h3>Rendez kapcsolat</h3>
    <form action="/rendezfeltoltes" method="POST">
        <label for="szemelyId">Személy id</label><br>
        <input type="text" name="szemelyId"><br>
        <label for="filmId">Film Id</label><br>
        <input type="text" name="filmId"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h3>Kommentel kapcsolat</h3>
    <form action="/kommentfeltoltes" method="POST">
        <label for="kommentId">komment id</label><br>
        <input type="text" name="kommentId"><br>
        <label for="felhasznaloId">Felhasználó id</label><br>
        <input type="text" name="felhasznaloId"><br>
        <label for="filmId">Film Id</label><br>
        <input type="text" name="filmId"><br>
        <label for="leiras">leírás</label><br>
        <input type="text" name="leiras"><br>
        <label for="ido">idő</label><br>
        <input type="text" name="ido"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h3>Értékel kapcsolat</h3>
    <form action="/ertekelesfeltoltes" method="POST">
        <label for="filmId">Film id</label><br>
        <input type="text" name="filmId"><br>
        <label for="felhasznaloId">felhasználó Id</label><br>
        <input type="text" name="felhasznaloId"><br>
        <label for="ertekeles">Értékelés</label><br>
        <input type="text" name="ertekeles"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h3>Csoportosít kapcsolat</h3>
    <form action="/csoportfeltoltes" method="POST">
        <label for="mufajNev">Műfaj neve</label><br>
        <input type="text" name="mufajNev"><br>
        <label for="filmId">Film Id</label><br>
        <input type="text" name="filmId"><br>
        <input type="submit" value="submit"><br>
    </form>

    <h3>Szerepel kapcsolat</h3>
    <form action="/szerepelfeltoltes" method="POST">
        <label for="szemelyId">Személy id</label><br>
        <input type="text" name="szemelyId"><br>
        <label for="filmId">Film Id</label><br>
        <input type="text" name="filmId"><br>
        <input type="submit" value="submit"><br>
    </form>
    
</body>
</html>